<h1>Listing courier_sessions</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courier_sessions.each do |courier_session| %>
  <tr>
    <td><%= courier_session.username %></td>
    <td><%= courier_session.password %></td>
    <td><%= link_to 'Show', courier_session %></td>
    <td><%= link_to 'Edit', edit_courier_session_path(courier_session) %></td>
    <td><%= link_to 'Destroy', courier_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Courier session', new_courier_session_path %>
