<h1>Listing deliveries</h1>

<table>
  <tr>
    <th>Pickup address</th>
    <th>Pickup name</th>
    <th>Dropoff address</th>
    <th>Dropoff name</th>
    <th>Number of packages</th>
    <th>Mass</th>
    <th>Volume</th>
    <th>Delivery due</th>
  </tr>

<% @deliveries.each do |delivery| %>
  <tr>
    <td><%= delivery.pickup_address %></td>
    <td><%= delivery.pickup_name %></td>
    <td><%= delivery.dropoff_address %></td>
    <td><%= delivery.dropoff_name %></td>
    <td><%= delivery.number_of_packages %></td>
    <td><%= delivery.mass %></td>
    <td><%= delivery.volume %></td>
    <td><%= delivery.delivery_due %></td>
    <td><%= link_to 'Show', courier_delivery_path(@courier, delivery) %></td>
    <td><%= link_to 'Edit', edit_courier_delivery_path(@courier, delivery) %></td>
    <td><%= link_to 'Destroy', [@courier, delivery], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Delivery', new_courier_delivery_path(@courier) %>
