<table>
	<tr>
		<td>Max Volume</td>
		<td>Max Mass</td>
		<td>Distance</td>
	</tr>
	<% @found_couriers.each do |courier| %>
		<tr>
			<td><%= courier.max_volume %></td>
			<td><%= courier.max_mass %></td>
			<td><%= courier.distances.first.est_distance %></td>
			<td><%= link_to 'View Courier', courier_path(courier) %></td>
			<td><%= link_to 'New Delivery With This Courier', new_courier_delivery_path(courier, @search) %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
